
.sidebar_link{
}
.sidebar_link_active{
    width: 94% !important;
    margin-top: 5px;
    margin-left: 2.5px;
    border-radius: 25px;
    background-color: #6366F1;
    color: white;
    font-weight: bold;
}
.sidebar_link_nonactive{
    margin-top: 5px;
    width: 94% !important;
    margin-left: 2.5px;
    border-radius: 25px;
    color: rgb(118, 118, 118);
    font-weight: bold;
}

/*Стили для наведения на кнопку прописываются в App.js и ниже*/
li:hover{
    cursor: pointer;
    color: #6366F1;
}
#sidebar_toggle:hover{
    background-color: white !important;
    color: rgb(118, 118, 118);
    border: none !important;
}