.header{
    grid-area: h;
    width: 100%;
    text-align:center;
    justify-content: center;
    display: grid;
    grid-template-areas: "headerLogo titleHeader coinsHeader";
    grid-template-columns: 2fr 8fr 2fr;
}
.hidden_header{
    display: none;
}
.headerLogo{
    grid-area: headerLogo;
}
.title{
    grid-area: titleHeader;
    color: rgb(118, 118, 118);
    font-size: 19px;
    padding-top: 20px;
    font-weight: bold;
}

.bottom_line{
    width: 100%;
    height: 2px;
    margin-top: 22px;
    border-radius: 20px;
    background-color: grey;
    opacity: 50%;
    left:0;
    right: 0;
    justify-self: center;
    align-self: center;
    float: left;
}