.text1{
    margin-left: 15px;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    width: 300px;
    font-size: 24pt;
    color: #4b99d2;
    border: 1px solid #4b99d2;
    border-radius: 25px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.text1:hover{
    cursor: pointer;
}
.buttonsLine{
    margin-top: 400px;
}
.buttonsLine_answer{
    margin-top: 50px;
}
h1{
    color: #003399;
    font-size: 34pt;
}
.nextButton{
    margin-top: 55px;
    padding: 15px 45px  15px 45px;
    background-color: #003399;
    color: white;
    font-size: 28pt;
    border: 1px solid #003399;
    border-radius: 15px;
    width: 350px;
    margin-left: 515px;
}
.skipButton{
    margin-top: 55px;
    padding: 15px 45px  15px 45px;
    background-color: grey;
    color: black;
    font-size: 28pt;
    border: 1px solid #003399;
    border-radius: 15px;
    width: 350px;
}
.nextButton:hover{
    background-color: white;
    color: #003399;
}